{
  "printWidth": 120,
  "bracketSpacing": false,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
